.bg-primary{
  background-color: $color-primary;
}
.bg-second{
  background-color: $color-second;
}
.bg-third{
  background-color: $color-third;
}
.bg-fourth{
  background-color: $color-fourth;
}
.bg-fifth{
  background-color: $color-fifth;
}
.bg-sixth{
  background-color: $color-sixth;
}
.bg-seventh{
  background-color: $color-seventh;  
}
.bg-eighth{
  background-color: $color-eighth;
}
.bg-nineth{
  background-color: $color-nineth;
}
.bg-tenth{
  background-color: $color-tenth;
}


.color-primary{
  color: $color-primary;
}
.color-second{
  color: $color-second;
}
.color-third{
  color: $color-third;
}
.color-fourth{
  color: $color-fourth;
}
.color-fifth{
  color: $color-fifth;
}
.color-sixth{
  color: $color-sixth;
}
.color-seventh{
  color: $color-seventh;   
}
.color-eighth{
  color: $color-eighth;
}
.color-nineth{
  color: $color-nineth;
}
.color-tenth{
  color: $color-tenth;
}

// Hovers Background
.hv\:bg-primary:hover{
  background-color: $color-primary;
}
.hv\:bg-second:hover{
  background-color: $color-second;
}
.hv\:bg-third:hover{
  background-color: $color-third;
}
.hv\:bg-fourth:hover{
  background-color: $color-fourth;
}
.hv\:bg-fifth:hover{
  background-color: $color-fifth;
}
.hv\:bg-sixth:hover{
  background-color: $color-sixth;
}
.hv\:bg-seventh:hover{
  background-color: $color-seventh;  
}
.hv\:bg-eighth:hover{
  background-color: $color-eighth;
}
.hv\:bg-nineth:hover{
  background-color: $color-nineth;
}
.hv\:bg-tenth:hover{
  background-color: $color-tenth;
}

// Hovers Color
.hv\:color-primary:hover{
  color: $color-primary;
}
.hv\:color-second:hover{
  color: $color-second;
}
.hv\:color-third:hover{
  color: $color-third;
}
.hv\:color-fourth:hover{
  color: $color-fourth;
}
.hv\:color-fifth:hover{
  color: $color-fifth;
}
.hv\:color-sixth:hover{
  color: $color-sixth;
}
.hv\:color-seventh:hover{
  color: $color-seventh;  
}
.hv\:color-eighth:hover{
  color: $color-eighth;
}
.hv\:color-nineth:hover{
  color: $color-nineth;
}
.hv\:color-tenth:hover{
  color: $color-tenth;
}