$fz-hero: 36px;
$fz-title-xl: 48px;



// Colores
// $color-primary:#4CB72E;       // Bg-Header Bg-Section Underlines
$color-primary: #484848;
$color-second:#000;           // Texto
$color-third:#fff;            // Texto
$color-fourth:#F16F05;        // Boton
$color-fifth:#B6922E;         // Underlines
$color-sixth: #F7F7F7;        // Bg-Sections
$color-seventh: #313131;      // Bg-Footer
$color-eighth: #8F8E8E;       // Bg-Sections
$color-nineth: #E5E5E5;       //
$color-tenth: #F1F1F1;


// Fuentes
// font-family: 'Lato', sans-serif;
$ff-general: 'Lato';
// $ff-secundary:'Mulish';
$ff-secundary: 'Montserrat';
// $ff-secundary:'Lobster';
$ff-third:'Lato';
